<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="book.css">
</head>
<body>
<!-- Metadata Page -->
{{> metadata}}

<!-- Titlepage -->
{{> titlepage}}

<!-- Content -->
{{#each data}}
    {{#if @first}} <!-- Vorwort -->
    <h1 id="{{id}}">{{metadata.title}}</h1>
    <div class="chapter" lang="en">
        {{#each children}}
            {{{html}}}
        {{/each}}
    </div>
        <!-- TOC -->
        <nav role="doc-toc">
            <h1>Contents</h1>
            <div class="toc">
                {{#each ../data}}
                    <a href="#{{id}}">{{metadata.title}}</a>
                {{/each}}
            </div>
        </nav>
    {{else}}

    <!-- Beginn eines Kapitels -->
    <div class="chapter_titlepage">
        <div class="chapter_titlepage_inner" id="{{id}}">
        {{#if metadata.authors}}
            {{#each metadata.authors}}
                <span>{{first_names}} {{last_names}}</span>
            {{/each}}
        {{/if}}
        <h1>{{metadata.title}}</h1>
        {{#if metadata.subtitle}}<span class="chapter_titlepage_subtitle">{{metadata.subtitle}}</span>{{/if}}
        {{#if metadata.web_url}}
            {{qrcode metadata.web_url}}
        {{/if}}
        </div>
    </div>

    <div class="chapter">
    {{#each children}}
        {{{html}}}
    {{/each}}
    {{#if endnotes}}
        <span>Notes</span>
        <ol>
        {{#each endnotes}}
            <li id="note-{{num}}">{{{content}}}</li>
        {{/each}}
        </ol>
    {{/if}}

    </div>
    {{/if}}
{{/each}}
</body>
</html>
